<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
        <% employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <h2>Add Employee</h2>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :first_name, class: "col-form-label" %>
          <%= form.text_field :first_name, class: "form-control form-control-lg"%>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :last_name, class: "col-form-label" %>
          <%= form.text_field :last_name, class: "form-control form-control-lg"%>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <%= form.label :email, class: "col-form-label" %>
          <%= form.text_field :email, class: "form-control form-control-lg"%>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= form.label :region, class: "col-form-label" %>
          <%= form.text_field :region, class: "form-control form-control-lg"%>
        </div>
        <div class="form-group col-md-4">
          <%= form.label :location, class: "col-form-label" %>
          <%= form.text_field :location, class: "form-control form-control-lg"%>
        </div>
        <div class="form-group col-md-4">
          <%= form.label :department, class: "col-form-label" %>
          <%= form.select :department, Employee.departments.keys, {prompt: 'Select Department'}, {class: "form-control form-control-lg"} %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <%= form.label :start_date, class: "col-form-label" %>
          <%= form.date_select :start_date, class: "form-control form-control-lg"%>
        </div>
        <div class="form-group col-md-4">
          <%= form.label :balance, class: "col-form-label" %>
          <%= form.text_field :balance, class: "form-control form-control-lg"%>
        </div>
        <div class="form-group col-md-4">
          <%= form.label :permission_level, class: "col-form-label" %>
          <%= form.select :permission_level, Employee.permission_levels.keys, {prompt: 'Select Department'}, {class: "form-control form-control-lg"} %>
        </div>
      </div>
    </div>
    <div class="field">
      <%= form.label :status %>
      <%= form.select :status, Employee.statuses.keys, prompt: 'Select Status' %>
    </div>
  </div>
  <div class="text-right mt-3">
    <div class="actions">
      <%= link_to 'Cancel', :back, class: "btn btn-secondary" %>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>






