
<%= simple_form_for @employee, url: @employees do |f| %>

  <%= f.error_notification %>

  <div class="form-row">
    <%= f.input :first_name, wrapper_html: { class: 'col-md-6' } %>

    <%= f.input :last_name, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <div class="form-row">
    <%= f.input :email,  wrapper_html: { class: 'col-md-12' } %>

    <% if action_name == 'edit' %>
      <%= f.input :status, collection: Employee.statuses.keys, selected: Employee.statuses.first, wrapper_html: { class: 'col-md-4' } %>
    <% end %>
  </div>

  <div class="form-row">
    <%= f.input :region, wrapper_html: { class: 'col-md-4' }%>

    <%= f.input :location, wrapper_html: { class: 'col-md-4' } %>

    <%= f.input :department, collection: Employee.departments.keys, prompt: 'Select Department', wrapper_html: { class: 'col-md-4' } %>
  </div>

  <div class="form-row">
      <%= f.input :start_date, as: :string, input_html: { 'data-key': 'single' }, wrapper_html: { class: 'col-md-4' }%>

    <%= f.input :balance, wrapper_html: { class: 'col-md-4' } %>

    <%= f.input :permission_level, collection: Employee.permission_levels.keys, selected: Employee.permission_levels.first, wrapper_html: { class: 'col-md-4' } %>
  </div>

  <div class="text-right mt-3">
    <div class="actions">
      <%= link_to 'Cancel', :back, class: "btn btn-secondary" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  </div>

<% end %>


<% content_for :inline_js do %>
<script>
  var datePicker = $('#DateRange');

  $('input[name="DateType"]').change(function() {
    if (this.value == "Single") {
      datePicker.attr("data-key", "single");
    } else {
      datePicker.attr("data-key", "multi");
    }
    $('input[data-key="single"]').daterangepicker({
      "singleDatePicker": true,
      isInvalidDate: function(date) {
        var day = new Date(date);
        return day.getDay() == 0;
      }
    });

  $('input[data-key="multi"]').daterangepicker({
    "autoApply": true,
    isInvalidDate: function(date) {
      var day = new Date(date);
      return day.getDay() == 0;
      }
    });
  });

  $('input[data-key="single"]').daterangepicker({
    "singleDatePicker": true,
    isInvalidDate: function(date) {
      var day = new Date(date);
      return day.getDay() == 0;
    }
  });

  $('input[data-key="multi"]').daterangepicker({
    "autoApply": true
  });
</script>

<% end %>

