<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.first_name %> <%= @employee.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Region:</strong>
  <%= @employee.region %>
</p>


<p>
  <strong>Location:</strong>
  <%= @employee.location %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @employee.start_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee.status %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @employee.balance %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Destroy', @employee, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Create Transaction', new_transaction_path(employee_id: @employee) %> |
<%= link_to 'Back', employees_path %>
