<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-chacon no-print">
  <a class="navbar-brand" href="/">RevvedHR</a>
  <div class="header-items">
    <div>
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <% if current_user.has_role? :Admin or current_user.has_role? :Manager %>
            <li class="nav-item">
              <%= link_to 'Employees', employees_path, class: 'nav-link' %>
            </li>
          <% end %>
          <% if current_user.has_role? :Admin %>
            <li class="nav-item">
              <%= link_to 'Transactions', transactions_path, class: 'nav-link' %>
            </li>
          <% end %>
          <% if current_user.has_role? :Super %>
            <li class="nav-item">
              <%= link_to 'Super', admin_root_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item pr-2">
            <% if current_user.employee %>
            <%= link_to current_user.employee.first_name, users_dashboard_path, class: 'nav-link' %>
            <% end %>
          </li>
          </li>
          <li class="nav-item">
            <%= link_to 'Log out', destroy_user_session_path , :method => :delete, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<div id="cover" class="no-print"></div>