<div class="sidebar">
  <h5>Search:</h5>
  <%= form_with url: "/#{controller.controller_name}", method: :get, local: true do |form| %>
    <div class="form-row">
      <div class="form-group col-md-10">
        <input type="text" name="search" class="form-control" />
      </div>
    </div>
    <button href="#" class="btn btn-sm btn-primary mt-1">
      Search
    </button>
  <% end %>
  <hr />
  <%= form_with url: "/#{controller.controller_name}", method: :get, local: true do |form| %>
    <div class="form-row">
      <div class="form-group col-md-10">
        <label class="col-form-label pb-0">Region:</label>
        <input type="text" name="region" class="form-control" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="col-form-label pb-0">Location:</label>
        <input type="text" name="location" class="form-control" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-10">
        <!--          <label class="col-form-label pb-0">Department:</label>-->
        <%= form.label :department %>
        <%= form.select :department, Employee.departments.keys, prompt: 'All Departments' %>
      </div>
    </div>
    <div class="form-row" style="height:89px"></div>
    <button type="submit" class="btn btn-sm btn-primary my-1" >
      Filter
    </button>
  <% end %>
  <hr />
  <div class="mt-3">
  <%= link_to 'Add New Employee', new_employee_path, class: 'nav-link' %>
</div>
  <div class="mt-3">
    <%= link_to 'Manage Employee Groups', groups_path, class: 'nav-link' %>
  </div>
</div>
