<%= form_with(model: transaction, url: transactions_path(employee_id: @employee), local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <h2>Create Transaction</h2>
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :created_by, class: "col-form-label" %>
          <%= form.text_field :created_by, class: "form-control form-control-lg"%>
        </div>
        <div class="form-group col-md-6">
          <label class="col-form-label">Created At:</label>
          <input type="date" class="form-control form-control-lg" disabled="true" value= <%= @transaction.created_at || Date.today %> />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label class="col-form-label">Employee Name:</label>
          <%= form.text_field :full_name, value: full_name, readonly: true, class: 'form-control form-control-lg' %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :date, class: "col-form-label" %>
          <%= form.date_select :date, class: "form-control form-control-lg"%>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :transaction_type, class: "col-form-label" %>
          <%= form.select :transaction_type, Transaction.transaction_types.keys, {}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <%= form.label :description, class: "col-form-label" %>
          <%= form.text_area :description , rows: 5, class: "form-control form-control-lg" %>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right mt-3">
    <div class="actions">
      <%= link_to 'Cancel', :back, class: "btn btn-secondary" %>
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>