
<%= simple_form_for @transaction, url: transactions_path do |f| %>

  <%= f.error_notification %>

  <%= hidden_field_tag(:employee_id, @employee.id) %>

  <div class="form-row">
    <%= f.input :created_by, wrapper_html: { class: 'col-md-6' } %>

    <%= f.input :created_at, as: :date, disabled: true, wrapper_html: { class: 'col-md-6' } %>
  </div>

  <div class="form-row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="col-form-label">Employee Name</label>
        <input type="text" class="form-control form-control-md" disabled="true" value= <%= full_name(@employee) %> />
      </div>

      <%= f.input :transaction_type, collection: Transaction.transaction_types.keys, selected: Transaction.transaction_types.first %>
    </div>

    <%= f.input :date, wrapper_html: { class: 'col-md-6' } %>

  </div>

  <div class="form-row">
    <div class="col-md-12">
    <%= f.input :description, as: :text %>
    </div>
  </div>

  <div class="text-right mt-3">
    <div class="actions">
      <%= link_to 'Cancel', :back, class: "btn btn-secondary" %>
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>