<!--<p id="notice"><%#= notice %></p>-->

<% flash.each do |key, value| %>
  <p id="notice"><%= value %></p>
<% end %>

<p>
  <strong>Created by:</strong>
  <%= @transaction.created_by %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction.transaction_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Coin balance:</strong>
  <%= @transaction.coin_balance %>
</p>

<p>
  <strong>Delta:</strong>
  <%= @transaction.delta %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<%= link_to 'Void', void_transaction_path(@transaction) %> |
<%= link_to 'Employees', employees_path %>
<%= link_to 'Transactions', transactions_path %>
